li {
    /*list-style-type: none;*/
    /*padding-bottom: 8px;*/
}

.note-title {
    text-align: center;
    /*
    background-color: lightgray;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    */
}

.note-content {
    font-style: italic;
}
