<section>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let note of notes">
      <h6 class="note-title">{{note.title}}</h6>
      <div class="note-content">{{note.content}}</div>
    </li>
  </ul>
</section>
